* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 2rem;/* #9096d8 */
  font-weight: bold;
}

.header-title {
  font-size: 24px;
  color: #fff;
}
.navbar {
  position: relative;
  background-color: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.navbar-link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  margin-left: 20px;
}

a{
  text-decoration: none;
  text-align: center;
  background-color: inherit;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}
a:hover{
  color: red;
}
a:active{
  opacity: 0.4;
}

.Login-button {
  font-size: 1em;
  border: none;
  padding: 10px;
  min-width: 160px;
  max-width: 160px;
  cursor: pointer;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
}

.dropbtn {
  background-color: transparent;
  border-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  margin-top: 2px;
  position: absolute;
  min-width: 160px;
  max-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  display: block;
  text-align: center;
  padding: 0;
}

.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: red;
}


footer {
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
}
p{
  color: white;
}
.iletisim{
  font-size: 1.3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}
.iletisim a i.fa-facebook {
  font-size: 1.2rem;
  color: #3b5998;
}
.iletisim a i.fa-youtube {
  font-size: 1.2rem;
  color: #c4302b;
}
.iletisim a i.fa-twitter {
  font-size: 1.2rem;
  color: #1da1f2;
}
.iletisim a i.fa-instagram {
  font-size: 1.2rem;
  color: #c13584;
}
.iletisim i:hover, #myElement a{ /*#acdbdf*/ /*#010101*/ /*f0ece2*/
  background-color: black;
}
.hidden {
  display: none;
}



/* :root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}
body {
  background-color: var(--primColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
details {
  margin: 40px;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: var(--primColor);
  border: 2px solid var(--secoColor);
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.menu {
  height: 0;
  width: fit-content;
  border-radius: var(--cornerRad);
  background-color: var(--primColor);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
}
.menu a {
  padding: 12px 24px;
  margin: 0 16px;
  color: var(--secoColor);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  filter: brightness(200%);
}
details::before {
  content: "← Click This Button";
  color: var(--secoColor);
  position: absolute;
  margin-left: 80px;
  padding: 10px 10px;
  opacity: 0.4;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
} */