* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 2rem;/* #9096d8 */
  font-weight: bold;
}

.header-title {
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 25px;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
  font-size: 20px;
  color: #fff;
}
.navbar {
  position: relative;
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 25px;
  backdrop-filter: blur(15px);
  padding: 12px;
  display: flex;
  justify-content: flex-end;
}
.navbar-link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-right: 25px;
  margin-left: 20px;
}

a{
  text-decoration: none;
  text-align: center;
  background-color: inherit;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity 0.15s;
}
a:hover{
  color: red;
}
a:active{
  opacity: 0.4;
}

.Login-button {
  font-size: 1.1em;
  border: none;
  padding: 10px;
  min-width: 160px;
  max-width: 160px;
  cursor: pointer;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
}

.dropdown {
  position: relative;
  display: inline-block;
  text-align: center;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  transition: background-color 0.3s ease;
}

.dropbtn {
  background-color: transparent;
  border-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  margin-top: 2.5px;
  position: absolute;
  min-width: 160px;
  max-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: center;
  padding: 0;
}
.dropdown-content a:hover {
  color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: red;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}

.contact-box{
  margin: 10px;
  width: 400px;
  height: 300px;
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.contact-box:first-child {
  margin-right: 10px;
}

.contact-box:last-child {
  margin-left: 10px;
}

.card-preview {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Card-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  opacity: 0.4;
  margin: 0 10px;
  transition: opacity 0.3s;
}
.card-container.current {
  opacity: 1;
}

.card-container.previous {
  transform: scale(0.8);
  opacity: 0.6;
}

.card-container.next {
  transform: scale(0.8);
  opacity: 0.6;
}
.biography-cards {
  width: 350px; /* Adjust this value as per your image size */
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Prvs-Nxt-button{
  margin-top: 10px; /* Adjust this value to add spacing between buttons */
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  min-width: 160px;
  max-width: 160px;
  cursor: pointer;
  background-color: rgb(62, 128, 190);
  color: black;
  border: 5px solid rgba(62, 128, 190, 0.5);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.Prvs-Nxt-button:hover{
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(15px);
  color: rgb(62, 128, 190);
}

.ozet-metni {
  padding: 20px;
  border-radius: 10px;
}
.ozet-container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 75vh;
}
.ozet-box{
  margin: 10px;
  width: 95%;
  height: 90%;
  background-color: transparent;
  border: 3px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.player-name {
  font-weight: bold;
  font-size: 40px;
  order: -1;
}
.text {
  font-family: Arial;
  font-size: 1.1rem;
  text-indent: 20px;
  text-align: justify;
  line-height: 1.5;
  font-weight: bold;
}

footer {
  position: relative;
  margin-top: 50px;
  padding-top: 20px;
}
p{
  font-family: Times;
  color: white;
}
.iletisim{
  font-size: 1.4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}
.iletisim a i.fa-facebook {
  font-size: 1.3rem;
  color: #6584c7;
}
.iletisim a i.fa-youtube {
  font-size: 1.3rem;
  color: #c4302b;
}
.iletisim a i.fa-twitter {
  font-size: 1.3rem;
  color: #1da1f2;
}
.iletisim a i.fa-instagram {
  font-size: 1.3rem;
  color: #c13584;
}
.iletisim i:hover, #myElement a{ /*#acdbdf*/ /*#010101*/ /*f0ece2*/
  background-color: transparent;
}
.hidden {
  display: none;
}