* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #181818;
  color: #fff;
}
main {
  max-width: 800px;
  margin: 50px auto 100px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
}
h1 {
  margin-bottom: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #181818;
}
#question {
  font-size: 24px;
  margin-bottom: 20px;
}
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.option {
  flex: 0 49%;
  padding: 20px;
  margin: 10px;
  background-color: #383838;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}
.option:hover {
  background-color: #4caf50;
  border-color: #4caf50;
}
#result {
  display: none;
  padding: 20px;
  margin-top: 20px;
  font-size: 24px;
  background-color: #4caf50;
}
#next {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #383838;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}
#next:hover {
  background-color: #4caf50;
  border-color: #4caf50;
}

.header-title {
  font-size: 24px;
  color: #fff;
}
.navbar {
  background-color: #383838;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.navbar-link {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.sign-in {
  font-size: 16px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sign-in:hover {
  background-color: #45a049;
}
.sign-up {
  font-size: 16px;
  color: #fff;
  background-color: #f44336;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sign-up:hover {
  background-color: #d32f2f;
}